<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <description>Mayte servlet</description>
  <display-name>mt-155</display-name>
  <welcome-file-list>
    <welcome-file>goal.html</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>Goal -- display and edit a user's goal</description>
    <display-name>GoalServlet</display-name>
    <servlet-name>GoalServlet</servlet-name>
    <servlet-class>mayte.GoalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoalServlet</servlet-name>
    <url-pattern>/GoalServlet</url-pattern>
    <url-pattern>/goal</url-pattern>
  </servlet-mapping>
</web-app>